.about-left-box {
  height: 500px;
  width: 500px;
}

.about-right-box {
  height: 350px;
  width: 400px;
  background-color: white;
  h1 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 10%;
  }
}