// font definitions for site

@font-face {
  font-family: book;
  src: url('../assets/fonts/gotham-book.otf') format("opentype");
}

@font-face {
  font-family: book-italic;
  src: url('../assets/fonts/gotham-book-italic.otf') format("opentype");
}

@font-face {
  font-family: medium;
  src: url('../assets/fonts/gotham-medium.otf') format("opentype");
}

@font-face {
  font-family: prata;
  src: url('../assets/fonts/prata.ttf') format("opentype");
}

@font-face {
  font-family: didot;
  src: url('../assets/fonts/Didot.ttc') format("opentype");
}