.login-left-box {
  height: 500px;
  width: 500px;
  //background-color: white;
}

.login-right-box {
  height: 500px;
  width: 500px;
  //background-color: white;
}

.regTitle {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 20px;
}

.orTitle {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 15px;
}